body {
    background-image: url(https://media.tenor.com/RWJlrcyxAvgAAAAC/makiplays-retrowave.gif); /* Certifique-se de que o caminho está correto */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; /* Cor do texto */
}